@use '../../scss/partials/variables/index' as *;
@use '../../scss/modules/helpers' as *;

$button-padding--vertical: 8px;
$button-padding--horizontal: 16px;

.button {
  min-width: pxToRem(120px);
  padding: pxToRem($button-padding--vertical) pxToRem($button-padding--horizontal);

  border: pxToRem(2px) solid $color-stone;
  border-radius: pxToRem(3px);

  background-color: $color-white;

  cursor: pointer;

  transition: background-color 260ms ease, border-color 260ms ease;

  &:hover {
    background-color: $color-salt;
    border-color: $color-slate;
  }

  &:focus {
    border-color: $color-marine;
    outline: none;
  }

  /**
   * Types
   */
  &--primary {
    color: $color-white;

    background-color: $color-marine;
    border-color: $color-marine;

    &:hover {
      background-color: color-level($color-marine, -2);
      border-color: color-level($color-marine, -3);
    }

    &:focus {
      border-color: $color-tangerine;
    }
  }
  &--secondary {
  }
  &--tertiary {
    background-color: $color-salt;
    border-color: $color-salt;

    &:hover {
      background-color: color-level($color-salt, -1);
      border-color: color-level($color-salt, -1);
    }

    &:focus {
      border-color: color-level($color-salt, -2);
    }
  }

  /**
   * Variants
   */
  &--slim {
    padding: pxToRem($button-padding--vertical * 0.6) pxToRem($button-padding--horizontal);
  }
  &--large {
    padding: pxToRem($button-padding--vertical * 1.4) pxToRem($button-padding--horizontal * 1.4);
  }
  &--wide {
    padding-right: pxToRem($button-padding--horizontal * 2.6);
    padding-left: pxToRem($button-padding--horizontal * 2.6);
  }
  &--full-width {
    width: 100%;
  }
}